---
const {
  color,
  title,
  subtitle,
  id,
  showFooterContent,
  subtitleExtraClass,
  mostrarFormulario,
} = Astro.props;
const textColor = `text-${color}`;
import CustomInfoContain from "./CustomInfoContain.astro";
import CustomContainer from "./CustomContainer.astro";
---

<section
  class="landing-section bg-white min-h-screen w-screen text-center relative"
  data-header-color={color}
  id={id}
>
  <div class="z-30 relative min-h-screen flex flex-col">
    <header>
      <h2 class={`${textColor} max-md:pt-8 md:pt-20 slide-title font-medium`}>
        {title}
      </h2>
      <p class={`${textColor} slide-desc ${subtitleExtraClass} mb-4`}>
        {subtitle}
      </p>
    </header>
    <div class="container-contact max-md:mt-2 mt-8 flex-1">
      <div class="flex flex-col lg:flex-row w-[90%] max-w-full justify-around mx-auto">
        <CustomInfoContain />
        <CustomContainer mostrarFormulario={mostrarFormulario} />
      </div>
    </div>
    <footer class="flex flex-col items-center pb-3 mt-12 footer-overlay">
      <slot name="footer" />
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10" style="background-color: #001F4F">
    <slot name="background" />
  </div>
</section>
